<h2>Create User!</h2>

<form action='user_url' method='POST'>
  <input type='text' name='user[:username]' placeholder='User Name'/>
  <br/>
  <input type='password' name='user[:password]' placeholder='Password'/>
  <br/>
  <input type='submit' />
</form>
